.recipient-list {
    display: grid;
    grid-template-columns: auto auto auto;
    .no-recipients{
        grid-column-start: 2;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}