.recipient-list {
    overflow-y: auto;
    margin-top: 1rem;
    display: grid;
    max-height: calc(100vh - 170px);
    grid-template-columns: auto auto auto;
    .bp3-non-ideal-state{
        grid-column-start: 2;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}