nav {
    margin-top: 1rem;
    font-size: 2em;
    display: grid;
    grid-template-columns: auto 50% auto;

    div {
        justify-self: center;
    }
    button {
        justify-self: end;
    }
    button:last-of-type {
        justify-self: start;
    }
}