nav.topbar {
    margin-top: 1rem;
    font-size: 2em;
    display: grid;
    grid-template-columns: auto 50% auto;

    div {
        justify-self: center;
        text-align: center;
        span {
            // justify-self: center;
            display: block;
        }
        div {
            margin-top: 1rem;
        }

    }
    button {
        align-self: start;
        justify-self: end;
    }
    button:last-of-type {
        justify-self: start;
    }
}