@import "~@blueprintjs/core/lib/scss/variables.scss";
  
.app
  transition-property: color, background-color
  transition-duration: 0.2s
  transition-timing-function: linear

.bp3-dark 
  background-color: $dark-gray3
  color: $light-gray5

.bp3-light
  background-color: $light-gray5
  color: $dark-gray3